body {
background-color: #161824;
margin:0vh;
}

#nav img {
   border-radius: 100%;
   height: 100%;
   margin: 5px;
}

#nav {
    background-color: #171749;
    margin: 0vh;
    display: flex;
    height: 15vh;
    
  /*  position: fixe*/
    width: 100%;
}

#nav div {
  width: 50%;
}

#nav ul {
 display: flex;
 justify-content: center;
 align-items: center;
 list-style: none;
}

#nav ul li {
  padding: 25px;
}

#nav ul li a {
  text-decoration: none;
  color: #ececec;
  font-weight: 700;
}

#home {

}

#aboutme {
  /*position: absolute;*/
  top: 15%;
  left: 15%;
  width: 50vh;
}

#aboutme h1,p {
  color: #7382B7;
  
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#footer ul li {
 padding-left: 20%;
}

#footer ul li:first-child {
  padding-left: 0;
}

#footer ul li a {
    text-decoration: none;
    color: #7382B7;
 }

