body {
  background-color: #161824;
  }

#home {
   align-items: center;
   align-content: center;
   text-align: center;
   padding-top: 5%;
  }

#home p {
  color: white;
  font-family:'Mooli', sans-serif;
  font-weight: 700;
  }

#home .links {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;

  padding: 10px 100px 10px 100px;
  background-color: #2C2C3F;
  border-radius: 80px;
}

.links a {
  text-decoration: none;
  
  font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;

background: linear-gradient(180deg, #1772C7 0%, #A1ACB7 3.65%, #2D0979 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#alining {
  align-items: center;
   align-content: center;
   text-align: center;
   padding-top: 20px;
}

